<md-toolbar class="sidebar-left-toolbar" md-theme="{{::triSkin.elements.logo}}">
    <div class="md-toolbar-tools" style="background-color:#fff !important;    padding: 30px;
    background-color: #fff !important;
    padding-top: 35px;
    padding-bottom: 25px;" layout="row" layout-align="start center">
        <div class="sidebar-left-logo">
            <a href="#/organizations">
                <img style="max-width:100%;max-height:56px" ng-src="{{::vm.sidebarInfo.appLogo}}" alt="{{::vm.sidebarInfo.appName}}">
            </a>
        </div>
        
            <h2 flex class="sidebar-left-title"><a class="no-underline" href="#/organizations">{{::vm.sidebarInfo.appName}}</a></h2>
      <!--   <md-button class="md-icon-button sidebar-left-icon" ng-click="vm.toggleIconMenu()" aria-label="Open side menu">
            <md-icon md-font-icon ng-class="{ 'zmdi zmdi-chevron-right' : vm.layout.sideMenuSize == 'icon', 'zmdi zmdi-chevron-left' : vm.layout.sideMenuSize == 'full' }"></md-icon>
        </md-button> -->
    </div>
</md-toolbar>
<tri-menu md-theme="{{triSkin.elements.sidebar}}" flex layout="column"></tri-menu>
