<ui-view class="space-list-view">
    <md-tabs md-dynamic-height md-border-bottom md-selected="vm.selectedTabIndex" class="md-padding" md-center-tabs>
        <md-tab label="Spaces">
            <md-content ng-if="vm.spaceList.length!==0">
                <div class="md-padding">
                    <!-- <h2 class="md-subhead">Created By You</h2> -->
                    <div class="md-padding" layout-align="start center" layout-gt-sm="row" layout-wrap layout-sm="column">
                        <div flex="50" flex-xs="100" class="flex-basis-50" class="md-margin-5p" ng-repeat="(key, value) in vm.spaceList">
                            <md-card>
                                <md-toolbar class="md-default space-toolbar">
                                    <div class="md-toolbar-tools">
                                        <div layout="row" layout-align="space-between" class="full-width">
                                            <h2>
                                     <span class="md-title">{{value.name}}</span>
                                    </h2>
                                        </div>
                                        <span flex></span>
                                        <md-menu>
                                            <md-button class="md-icon-button" aria-label="open menu" ng-click="$mdOpenMenu()">
                                                <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                                            </md-button>
                                            <md-menu-content width="3">
                                                <md-menu-item>
                                                    <md-button ng-click="vm.navigateToDetail(value.id)">
                                                        <md-icon md-font-icon='zmdi zmdi-edit'></md-icon>Edit Space details</md-button>
                                                </md-menu-item>
                                                 
                                                <md-menu-item>
                                                    <md-button ng-click="vm.deleteSpace(value.id)">
                                                        <md-icon md-font-icon='zmdi zmdi-delete'></md-icon>Delete</md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </div>
                                </md-toolbar>
                                <a ng-href="http://{{value.url}}" target="_blank">
                                    <div layout="row"> <img style="max-height:200px" ng-src="http://{{value.thumbnail}}" alt="{{value.name}}">
                                    </div>
                                </a>
                                <md-card-content>
                                    <p style="height: 50px" class="truncate">{{value.desc}}</p>
                                </md-card-content>
                                <md-card-actions layout="row" layout-align="space-between center">
                                    <div>
                                        <!--  ng-href='http://{{value.editorUrl}}' -->
                                        <md-button class=" md-primary md-icon-button" ng-click="vm.openEditorModal($event,value.editorUrl)" target="_blank">
                                        <md-icon class="zmdi zmdi-edit" style="font-size:24px !important"> </md-icon>
                                            <md-tooltip style="font-size:12px !important">View a space in editor mode</md-tooltip>
                                        </md-button>
                                        <md-button class="md-primary  md-icon-button" ngf-select="vm.uploadForLinking(value.id,$file)" ng-disabled="vm.status != 'idle'" ngf-multiple="true" aria-label="upload">
                                            <md-icon md-font-icon style="font-size:24px !important" ng-class="{ 'zmdi zmdi-cloud-upload': vm.status == 'idle', 'fa fa-spinner fa-pulse': vm.status == 'uploading', 'zmdi zmdi-check': vm.status == 'complete'}"></md-icon>
                                            <md-tooltip style="font-size:12px !important">Upload an xml file to link spaces</md-tooltip>
                                        </md-button>
                                    </div>
                                    <md-button class="md-primary md-raised" ng-if="value.added_in_gallery==='0'" ng-click="vm.addSpaceToGallery(value.id)">
                                         Add to Gallery
                                          <md-tooltip style="font-size:12px !important">Add space to gallery</md-tooltip></md-button>

                                          <md-button class="md-primary md-raised" ng-if="value.added_in_gallery==='1'" ng-click="vm.removeSpaceFromGallery(value.id)">
                                         Remove from Gallery
                                          <md-tooltip style="font-size:12px !important">Remove space from gallery</md-tooltip></md-button>

                                </md-card-actions>
                            </md-card>
                        </div>
                    </div>
                </div>
            </md-content>
            <md-content ng-if="vm.spaceList.length===0" layout="column" layout-align="center-center">
                <p class="md-headline">Each project consists multiple spaces. Start now!</p>
                <md-button class="md-primary md-raised" ng-click="vm.navigateToDetail(0)">Create Space</md-button>
            </md-content>
        </md-tab>
        <md-tab label="Members">
            <div layout="row" md-whiteframe="1" layout-padding layout-align="space-around" ng-include="'app/members/members-list-no-invite.tmpl.html'"></div>
        </md-tab>
        <md-tab label="Gallery" ng-if="vm.selectedProject.gallery.length!==0">
            <div layout="column" md-whiteframe="1" class="md-padding" ng-include="'app/gallery/gallery.tmpl.html'"></div>
        </md-tab>
        <md-tab label="Project Info">
            <div layout="row" layout-align="center" md-whiteframe="1" class="md-padding" ng-include="'app/projects/projects-detail.tmpl.html'"></div>
        </md-tab>
    </md-tabs>
    <!-- left sidebar -->
    <md-button class="md-fab fab-add-fixed " ng-if="vm.selectedTabIndex===0 " ng-click="vm.navigateToDetail(0) " aria-label="fab button ">
        <md-icon md-font-icon="zmdi zmdi-plus "></md-icon>
    </md-button>
    <md-button permission permission-only="'addMember'" class="md-fab fab-add-fixed " ng-if="vm.selectedTabIndex===1 " ng-click="vm.openMemberDialog
() " aria-label="fab button ">
        <md-icon md-font-icon="zmdi zmdi-plus "></md-icon>
    </md-button>
</ui-view>
