<div>
    <div flex layout="row" layout-align="center center" layout-fill>
        <md-card flex="90" class="md-whiteframe-z1 margin-bottom-100" tri-wizard>
            <md-toolbar class="md-primary">
                <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                    <h2> Space Information</h2>
                     
                </div>
                <md-progress-linear class="md-accent padding-bottom-10" md-mode="determinate" ng-value="triWizard.progress"></md-progress-linear>
            </md-toolbar>
            <md-tabs class="md-primary" layout-fill md-selected="triWizard.currentStep" md-dynamic-height>
                <md-tab id="Info">
                    <md-tab-label>
                        <span class="oxy-step-label">1</span>
                        <span translate>General Info</span>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <form name="infoForm" tri-wizard-form novalidate>
                                <div>
                                    <md-input-container class="md-block">
                                        <label translate>Name</label>
                                        <input name="name" ng-model="vm.generalInfo.name" required>
                                        <div ng-messages="infoForm.name.$error" md-auto-hide="false" ng-show="infoForm.name.$touched">
                                            <div ng-message when="required">
                                                <span translate>This field is required</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label translate>Description</label>
                                        <textarea name="description" ng-model="vm.generalInfo.description" required></textarea>
                                        <div ng-messages="infoForm.description.$error" md-auto-hide="false" ng-show="infoForm.description.$touched">
                                            <div ng-message when="required">
                                                <span translate>This field is required</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </form>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab ng-if="vm.id===0" id="upload" ng-disabled="infoForm.$invalid">
                    <md-tab-label>
                        <span class="oxy-step-label">2</span>
                        <span translate>Upload Images</span>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <form name="fileUploadForm" tri-wizard-form>
                                <div>
                                    <div layout="row" layout-align="space-around center">
                                        <md-button class="md-primary md-raised md-fab" ngf-select="vm.createSpace($files)" ng-disabled="vm.status != 'idle'" ngf-multiple="true" aria-label="upload">
                                            <md-icon md-font-icon ng-class="{ 'zmdi zmdi-cloud-upload': vm.status == 'idle', 'fa fa-spinner fa-pulse': vm.status == 'uploading', 'zmdi zmdi-check': vm.status == 'complete' ,'zmdi zmdi-close': vm.status == 'failed'}"></md-icon>
                                        </md-button>
                                        <!--   <md-button class="md-primary md-raised md-fab" ngf-select="vm.upload($files)" ngf-multiple="true" aria-label="upload">
                                            <md-icon md-font-icon="zmdi zmdi-cloud-upload"></md-icon>
                                        </md-button> -->
                                    </div>
                                </div>
                            </form>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <!-- <md-tab id="edit-connection" ng-disabled="editConnection.$invalid">
                    <md-tab-label>
                        <span class="oxy-step-label">3</span>
                        <span translate>Finish</span>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <div class="padding-40" flex layout="column" layout-align="center center">
                                <md-icon class="big-icon" md-font-icon="zmdi zmdi-edit"></md-icon>
                                <p class="md-title" translate>Edit Connections</p>
                            </div>
                        </md-content>
                    </md-tab-body>
                </md-tab> -->
                <md-tab id="confirm" ng-if="vm.id===0" ng-disabled="vm.uploadIncomplete">
                    <md-tab-label>
                        <span class="oxy-step-label">3</span>
                        <span translate>Finish</span>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <div class="padding-40" flex layout="column" layout-align="center center">
                                <md-icon class="big-icon" md-font-icon="zmdi zmdi-cake"></md-icon>
                                <h2 class="md-title" translate>Congratulations -You can now add and edit scenes for this space </h2><span><a href="{{vm.spaceUrl}}">here</a></span>
                            </div>
                        </md-content>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" ng-if="vm.id!==0" ng-click="vm.updateSpace()">Save</md-button>
                <md-button ng-if="vm.id===0"  class="md-primary md-raised" ng-click="triWizard.prevStep()" ng-hide="triWizard.currentStep > 2" ng-disabled="triWizard.prevStepDisabled()" translate="Previous"></md-button>
                <md-button  ng-if="vm.id===0"  class="md-primary md-raised" ng-click="triWizard.nextStep()" ng-disabled="triWizard.nextStepDisabled()" translate="Next"></md-button>
                 <md-button  ng-if="vm.id===0"  class="md-primary md-raised" ng-click="triWizard.nextStep()" ng-hide=" triWizard.currentStep < 2" ng-disabled="triWizard.nextStepDisabled()" translate="Done"></md-button>
            </md-card-actions>
    </div>
    </md-card>
</div>
