<div>
    <div flex layout="row" layout-align="center center" layout-fill>
        <md-card flex="90" class="md-whiteframe-z1 margin-bottom-100" tri-wizard>
            <md-toolbar class="md-primary">
                <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                    <h2> Space Information</h2>
                </div>
                <md-progress-linear class="md-accent padding-bottom-10" md-mode="determinate" ng-value="triWizard.progress"></md-progress-linear>
            </md-toolbar>
            <md-tabs class="md-primary" layout-fill md-selected="triWizard.currentStep" md-dynamic-height>
                <md-tab id="Info" " ng-disabled="vm.disableWizardSteps">
                    <md-tab-label>
                        <span class="oxy-step-label">1</span>
                        <span translate>General Info</span>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <form name="infoForm" tri-wizard-form novalidate>
                                <div>
                                    <md-input-container class="md-block">
                                        <label translate>Name</label>
                                        <input name="name" ng-model="vm.generalInfo.name" required>
                                        <div ng-messages="infoForm.name.$error" md-auto-hide="false" ng-show="infoForm.name.$touched">
                                            <div ng-message when="required">
                                                <span translate>This field is required</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label translate>Description</label>
                                        <textarea name="description" ng-model="vm.generalInfo.description" required></textarea>
                                        <div ng-messages="infoForm.description.$error" md-auto-hide="false" ng-show="infoForm.description.$touched">
                                            <div ng-message when="required">
                                                <span translate>This field is required</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </form>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab ng-if="vm.id===0" id="upload" ng-disabled="infoForm.$invalid||vm.disableWizardSteps">
                    <md-tab-label>
                        <span class="oxy-step-label">2</span>
                        <span translate>Select Images</span>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <md-list flex="100" ng-if="vm.files.length!==0">
                                <md-subheader flex="row" layout-align="space-between" class="md-no-sticky md-headline  ">Selected Files</md-subheader>
                                <md-list-item ng-repeat="item in vm.files track by $index" ng-show="!item.deleted" class="md-padding">
                                  <div flex="100" style="display: flex" flex="row" layout-align="space-between center">
                                      
                                    <p  >{{::item.name}}</p>
                                    <md-button    class="md-icon-button " ng-click="vm.removeFile(item,$index)"><md-icon class="zmdi zmdi-close"></md-icon></md-button>
                                  </div> 
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-list>
                            <form name="fileUploadForm" tri-wizard-form>
                                <div>
                                    <div layout="row" layout-align="start center">
                                        <md-button class="md-primary" ngf-select="vm.addToArr($files)" ng-disabled="vm.status != 'idle'" ngf-multiple="true" aria-label="upload">
                                            Select files to upload
                                        </md-button>
                                    </div>
                                </div>
                            </form>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab id="create-space" ng-if="vm.id===0" md-on-select="vm.createSpace()" ng-disabled="vm.files.length===0||vm.disableWizardSteps">
                    <md-tab-label>
                        <span class="oxy-step-label">3</span>
                        <span translate>Create Space</span>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <div class="padding-40" flex layout="column" layout-align="center center">
                                <div class="app-loader padding-top-100"  flex layout="column" layout-align="center center">
                                    <img class="margin-bottom-10" style="height: 50px !important;width: auto" src="../assets/images/logo.png" alt="">
                                    <md-progress-linear class="padding-bottom-10" md-mode="indeterminate"></md-progress-linear>
                                    <h2 class="padding-bottom-100">Creating Space...</h2>
                                </div>
                            </div>
                        </md-content>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" ng-if="vm.id!==0" ng-click="vm.updateSpace()">Save</md-button>
                <md-button ng-if="vm.id===0" class="md-primary md-raised" ng-click="triWizard.prevStep()" ng-hide="triWizard.currentStep > 2" ng-disabled="triWizard.prevStepDisabled()" translate="Previous"></md-button>
                <md-button ng-if="vm.id===0" class="md-primary md-raised" ng-click="triWizard.nextStep()" ng-hide="triWizard.currentStep === 1" ng-disabled="triWizard.nextStepDisabled()" translate="Next"></md-button>
                <md-button ng-if="vm.id===0&&vm.files.length!==0" class="md-primary md-raised" ng-click="triWizard.nextStep();vm.createSpace()" ng-show="triWizard.currentStep === 1" ng-disabled="triWizard.nextStepDisabled()">Create Space</md-button>
            </md-card-actions>
    </div>
    </md-card>
</div>
