<ui-view>
    <md-content class="padded-content-page">
        <div class="md-padding" layout-gt-sm="row" layout-sm="column">
            <div flex="33" class="flex-grow" ng-repeat="project in ::vm.projects track by $index" flex-xs="100">
                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" src="assets/images/avatars/avatar-4.png" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-headline">{{project.name}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <p class="md-body-1">{{::project.description}}</p>
                        <!-- <a href="#" editable-textarea="value.description" e-rows="7" e-cols="40">
                                        <pre>{{ value.description || 'no description' }}</pre>
                                      </a> -->
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="start start">
                        <!--   <invite-btn></invite-btn> -->
                        <md-button class="md-primary" ng-click="vm.navigateToSpaces(project.id,project)">View Spaces</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
        <!--   <md-list>
                <md-list-item class="md-3-line" ng-repeat="project in ::vm.projects track by $index" ng-click="vm.navigateToSpaces(project.id,project)">
                    <md-checkbox  ng-model="project.selected" ng-click="vm.selectProject(project.selected,project)"></md-checkbox>
                    <div class="md-list-item-text">
                        <h3>{{::project.name}} </h3>
                        <h4>Created By {{::project.createdBy}} on</h4>
                        <p class="hide-xs">{{::project.description}}</p>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list> -->
        <md-button class="md-fab fab-add-fixed" ng-click="vm.navigateToProject(0,null)" aria-label="fab button">
            <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
        </md-button>
    </md-content>
</ui-view>
