<ui-view>
    <md-content class="padded-content-page">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <div layout="row" layout-align="space-between" class="full-width">
                    <h2>
                       Project Info
                    </h2>
                </div>
                <span flex></span>
                <div hide-xs class="md-padding no-left-padding" layout="row" layout-xs="column" layout-align="start-start">
                    
                    <md-button flex-xs="100" class="md-default " ng-click="vm.showMembers('members-list-right-menu')">View Members</md-button>
                    <md-button flex-xs="100" class="md-default " ng-href="http://{{vm.selectedProject.gallery.url}}">View Gallery</md-button>
                    <md-button flex-xs="100" class="md-default " ng-href="#/gallery">Edit Gallery</md-button>
                </div>
                <md-menu hide-gt-xs>
                    <md-button class="md-icon-button" aria-label="open menu" ng-click="$mdOpenMenu()">
                        <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button class="md-default" ng-click="vm.showMembers('members-list-right-menu')">View Members</md-button>
                            </md-button>
                        </md-menu-item>
                </md-menu>
            </div>
        </md-toolbar>
        <div layout="column " class="md-padding" md-whiteframe="1">
            <md-input-container class="md-block">
                <label>Project Name</label>
                <input type="text" ng-model="vm.selectedProject.name">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Description</label>
                <textarea ng-model="vm.selectedProject.description"></textarea>
            </md-input-container>
            <div layout="row" layout-xs="column" layout-align="space-between">
                 
                    <md-button class="md-raised md-primary  " ng-click="vm.showSpaces()">View Spaces</md-button>
                   
                
                <md-button class="md-primary md-raised" ng-click="vm.createOrUpdate()">Save</md-button>
            </div>
        </div>
    </md-content>
    <!-- <md-content>
    <div class="md-padding">
    </div>
    <div layout="column" ng-include="'app/projects/projects-list.tmpl.html'"></div>
</md-content> -->
    <!-- left sidebar -->
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="members-list-right-menu">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Members</h1>
        </md-toolbar>
        <md-content>
            <div layout="row" layout-align="start center" class="md-padding" ng-include="'app/members/members-list.tmpl.html'"></div>
        </md-content>
    </md-sidenav>
</ui-view>
