<ui-view>
    <md-content ng-if="vm.projects.length!==0" class="padded-content-page">
        <div class="md-padding" layout="row"  layout-wrap flex="100" layout-gt-sm="row" layout-sm="column">
            <div flex="33" class="flex-basis" ng-repeat="project in ::vm.projects track by $index" flex-xs="100">
                <md-card style="height:170px " class="clickable" ng-click="vm.navigateToSpaces(project.id,project)" >
                    <md-card-header    >
                     
                        <md-card-header-text>
                            <span class="md-headline">{{project.name}}</span>
                        </md-card-header-text>
                    </md-card-header>
                        <md-divider></md-divider>
                    <md-card-content   >
                        <p class="md-body-1">{{::project.description}}</p>
                        <!-- <a href="#" editable-textarea="value.description" e-rows="7" e-cols="40">
                                        <pre>{{ value.description || 'no description' }}</pre>
                                      </a> -->
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end end">
                      
                        <md-button    ng-click="vm.deleteProject(project.id,project,$event)">  <md-icon md-font-icon class="zmdi zmdi-delete"></md-icon>Delete</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
        <!--   <md-list>
                <md-list-item class="md-3-line" ng-repeat="project in ::vm.projects track by $index" ng-click="vm.navigateToSpaces(project.id,project)">
                    <md-checkbox  ng-model="project.selected" ng-click="vm.selectProject(project.selected,project)"></md-checkbox>
                    <div class="md-list-item-text">
                        <h3>{{::project.name}} </h3>
                        <h4>Created By {{::project.createdBy}} on</h4>
                        <p class="hide-xs">{{::project.description}}</p>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list> -->
        <md-button class="md-fab fab-add-fixed" permission permission-only="'admin'"  ng-click="vm.navigateToProject(0,null)" aria-label="fab button">
            <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
        </md-button>
    </md-content>
    <md-content ng-if="vm.projects.length===0" layout="column" layout-align="center-center">
                <p class="md-headline">No projects found!</p>
                <md-button permission permission-only="'admin'" class="md-primary md-raised" ng-click="vm.navigateToProject(0,null)">Click to add a new projet</md-button>
            </md-content>
</ui-view>
