<md-content class="padded-content-page full-width">
    <div layout="column " class="md-padding" md-whiteframe="1">
        <md-input-container class="md-block">
            <label>Project Name</label>
            <input type="text" ng-model="vm.selectedProject.name">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Description</label>
            <textarea ng-model="vm.selectedProject.description"></textarea>
        </md-input-container>
        <div layout="row" layout-align="end-center">
            <md-button class="md-primary md-raised" ng-click="vm.createOrUpdate()">Save</md-button>
        </div>
    </div>
    </div>
</md-content>
