<md-content>
<ui-view>
<div class="md-padding">
    <h2 class="md-subhead">Created By You</h2>
    <div class="md-padding" layout-gt-sm="row" layout-sm="column">
        <div flex="33" ng-repeat="(key, value) in vm.orgList.admin" flex-xs="100">
            <md-card  >
                <md-card-header>
                    <md-card-avatar>
                        <img class="md-user-avatar" src="assets/images/avatars/avatar-4.png" />
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">{{value.org_name}}</span>
                        <span class="md-subhead">Created by {{value.owner}}</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content class="clickable md-ink-ripple"  ng-click="vm.navigateToDetail(value.org_id)">
 <p class="md-body-1">{{value.description}}</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Invite Member</md-button>
                    <md-button class="md-primary" ng-click="vm.showMembers('members-list-right-menu')">Members</md-button>
                </md-card-actions>
            </md-card>
        </div>
         
    </div>
       <md-divider ></md-divider>
    <h2 class="md-subhead">Created By Others</h2>
    <div class="md-padding" layout-gt-sm="row" layout-sm="column">
         <div flex="33" ng-repeat="(key, value) in vm.orgList.member" flex-xs="100">
            <md-card  >
                <md-card-header>
                    <md-card-avatar>
                        <img class="md-user-avatar" src="assets/images/avatars/avatar-4.png" />
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">{{value.org_name}}</span>
                        <span class="md-subhead">Created by you</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content class="clickable md-ink-ripple"  ng-click="vm.navigateToDetail(value.org_id)">

                    <p class="md-body-1">{{value.description}}</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Invite Member</md-button>
                    <md-button class="md-primary" ng-click="vm.showMembers('members-list-right-menu')">Members</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>
<!-- left sidebar -->
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="members-list-right-menu">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Members</h1>
    </md-toolbar>
    <md-content class="md-padding">
         <div layout="row" layout-padding layout-align="space-around start" ng-include="'app/members/members-list.tmpl.html'"></div>
    </md-content>
</md-sidenav>
<md-button class="md-fab fab-add-fixed "  ng-click="vm.navigateToDetail(0)" aria-label="fab button">
    <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
</md-button>

</ui-view>
</md-content>