<ui-view>
<md-content class="padded-content-page">
    <div layout="column " class="md-padding" md-whiteframe="1">
        <p class="md-title">Organization Info</p>
        <md-input-container class="md-block">
            <label>Organization Name</label>
            <input type="text" ng-model="vm.selectedOrg.name" required>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Description</label>
            <textarea ng-model="vm.selectedOrg.description" required>></textarea>
        </md-input-container>
        <div layout="row" layout-align="space-between">
           <md-button class="md-default" ng-click="vm.leaveOrg()">Leave Organization</md-button>
            <md-button class="md-primary md-raised" ng-click="vm.updateOrCreate()">Save</md-button>
        </div>
    </div>  <div class="md-padding">
          <div layout="column " layout-align="center center">
            <md-button class="md-raised md-primary full-width"  ng-click="vm.navigateToProjects()">View Projects</md-button>
        </div>
  
    </div> 
</md-content>
  
<!-- <md-content>
    <div class="md-padding">
    </div>
    <div layout="column" ng-include="'app/projects/projects-list.tmpl.html'"></div>
</md-content> -->
</ui-view>