<ui-view>
<div class="app-loader padding-top-100" ng-show="vm.showLoader" flex layout="column" layout-align="center center">
    <img src="{{loader.triSettings.logo}}" alt="">
    <md-progress-linear class="padding-bottom-10" md-mode="indeterminate"></md-progress-linear>
    <h2 class="padding-bottom-100">Updating account info...</h2>
</div>

    <md-content class="padded-content-page" ng-show="!vm.showLoader" >
        <div class="md-padding" layout-gt-sm="row" layout-align="center start" layout-sm="column">
            <tri-widget class="md-padding" style="height: 470px;overflow: auto" layout-margin flex="40" flex-xs="100" palette-background="blue:800" title="{{value.org_name}}" title-position="top" content-layout-align="start center" content-layout="column">
                <h2>Plan Details</h2>
                <md-divider></md-divider>
                <div flex="100" layout="row" layout-align="space-between center" class="full-width">
                    <span>Current Plan </span>
                    <div layout="row" layout-align="end end">
                        <span>{{vm.plan.plan_name|capitalize}}</span>
                    </div>
                </div>
                <div flex="100" layout="row" layout-align="space-between center" class="full-width">
                    <span>Status  </span>
                    <span style="width:220px" class="truncate align-right clickable">{{vm.statusMessage}}</span>
                    <md-tooltip style="font-size: 12px;">{{vm.statusMessage}}</md-tooltip>
                </div>
                <div flex="100" layout="row" layout-align="space-between center" class="full-width">
                    <span>Projects Allowed</span>
                    <span>{{vm.plan.num_projects}}</span>
                </div>
                <div flex="100" layout="row" layout-align="space-between center" class="full-width">
                    <span>Spaces Allowed</span>
                    <span>{{vm.plan.num_spaces}}</span>
                </div>
                <div flex="100" layout="row" layout-align="space-between center" class="full-width">
                    <span>Members Allowed</span>
                    <span>{{vm.plan.num_members}}</span>
                </div>
                <div flex="100" layout="row" layout-align="space-between center" class="full-width">
                    <span>Price</span>
                    <span>$ {{vm.plan.price_usd}}</span>
                </div>
                <div flex="100" layout="row" layout-align="space-between center" class="full-width"  permission permission-only="'admin'" >
                    <div>Current Card-
                    <p style="font-size: 12px">(XXXX-XXXX-XXXX-{{vm.currentCard.last4}})</p></div>
                    <div>
                    
                        <form action="{{'http://52.43.239.79/api/v1/user/card_update?api_token='+vm.token+'&org_id='+vm.orgId|trusted}}" method="POST" method="POST">
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_ipI2IcwYbdYDTALTVJ5Th2v6" data-image="assets/images/logo.png" data-name="Sentio VR" data-panel-label="Update Card Details" data-label="Update Card Details" data-allow-remember-me=false data-locale="auto">
                            </script>
                        </form>
                    </div>
                </div>
                <div layout="row" permission permission-only="'admin'" layout-align="space-between center">
<!-- chagnge button name for expired accounts -->

                    <md-button class="md-primary md-raised " ng-click="vm.navigateToPlanChange()"> {{vm.btnName}} Plan</md-button>
<!-- do not shwo cancel for trial and expired accounts -->
                    <md-button class="md-primary md-default "
                     ng-if="vm.plan.plan_name!=='trial'&&vm.accountExpired!==1" ng-click="vm.removePlan(vm.plan)"> Cancel Plan</md-button>
                </div>
            </tri-widget>
            <tri-widget layout-margin flex="45" flex-xs="100" palette-background="blue:800" title-position="top" content-layout-align="start center" content-layout="column">
                <h2>Invoices</h2>
                <md-divider></md-divider>
                <md-list flex="100" class="full-width md-padding" style="    max-height: 400px;
    overflow: auto;
">
                    <md-list-item class="md-3-line" ng-repeat="(key, invoice) in vm.invoices track by $index">
                        <div class="md-list-item-text" layout-xs="column" layout="row" flex="100" layout-align="start center">
                            <div flex="80">
                                <h3 class="margin-10" style="color: #fff !important"> {{invoice.inv_id}}</h3>
                                <h4 class="margin-10" style="color: #fff !important">Invoice generated on {{invoice.inv_date}}</h4>
                                <h4 class="margin-10" style="color: #fff !important">Invoice generated for {{invoice.inv_total}}</h4>
                            </div>
                            <div flex="20">
                                <md-button class="md-icon-button md-default" ng-href="http://{{invoice.download_link}}">
                                    <md-icon class="zmdi zmdi-download"></md-icon>
                                    <md-tooltip md-direction="right">Download </md-tooltip>
                                </md-button>
                            </div>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </tri-widget>
        </div>
    </md-content>
</ui-view>
