<div>
    <div flex layout="row" layout-align="center center" layout-fill>
        <md-card flex="90" class="md-whiteframe-z1 margin-bottom-100" tri-wizard>
            <md-tabs class="md-primary" layout-fill md-selected="triWizard.currentStep" md-dynamic-height>
                <md-tab id="select-plan">
                    <md-tab-label>
                        <span class="oxy-step-label">1</span>
                        <span translate>Select Plan</span>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <div layout="row" layout-xs="column">
                                <div flex="33" flex-xs="100" ng-repeat="(key,   plan) in    vm.plans track by $index">
                                    <div class="md-whiteframe-z3 margin-20   text-center" style="position: relative">
                                        <md-toolbar class="md-tall" palette-background="{{plan.color}}">
                                            <div flex="column">
                                                <p class="center-block md-padding" style="padding-top:30px">
                                                    <span class="md-display-36 text-center">$ {{plan.price_usd}}</span>
                                                </p>
                                                <p class="center-block">
                                                    <span class="md-display-24 text-center">{{plan.plan_name|capitalize}}</span>
                                                    <span ng-if="plan.id===vm.currentPlanId">(Already on this plan)</span>
                                                </p>
                                            </div>
                                        </md-toolbar>
                                        <div style="    min-height: 200px;
                                                        min-width: 190px;
                                              padding: 0px 45px;
                                                  ">
                                            <div flex="100" layout="row" layout-align="start center" layout-padding="" class="center-block">
                                                <span>{{plan.num_projects}}</span>
                                                <span>Projects Allowed</span>
                                            </div>
                                            <div flex="100" layout="row" layout-align="start center" layout-padding="" class="center-block">
                                                <span>{{plan.num_spaces}}</span>
                                                <span>Spaces Allowed</span>
                                            </div>
                                            <div flex="100" layout="row" layout-align="start center" layout-padding="" class="center-block">
                                                <span>{{plan.num_members}}</span>
                                                <span>Members Allowed</span>
                                            </div>
                                        </div>
                                        <md-divider class="md-padding"></md-divider>
                                        <md-button ng-disabled="plan.id===vm.currentPlanId&&vm.currentPlanId!==0" ng-if="!$first" class="md-fab fab-relative" ng-click="vm.goToSummary(plan);triWizard.nextStep()" aria-label="fab button ">
                                            <md-icon md-font-icon="zmdi zmdi-shopping-basket "></md-icon>
                                            <md-tooltip ng-if="plan.id!==vm.currentPlanId">Select Plan</md-tooltip>
                                        </md-button>
                                    </div>
                                    <md-tooltip style="font-size: 12px !important;" ng-if="$first">Cannot subscribe to trail plan</md-tooltip>
                                    <md-tooltip style="font-size: 12px !important;" ng-if="plan.id===vm.currentPlanId&&vm.currentPlanId!==0" ">Already subscribed to this plan</md-tooltip>
                                </div>
                            </div>

                        </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab id="pay" ng-disabled="!vm.selectedPlan ">
                    <md-tab-label>
                        <span class="oxy-step-label ">2</span>
                        <span translate>Make Payment</span>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding" ng-if="vm.paymentAllowed">
                            <div>
                                <div layout="row" layout-align="space-around center ">
                                    <div class="md-whiteframe-z4 margin-20 text-center" style="position: relative ">
                                        <p class="md-headline ">{{vm.selectedPlan.plan_name|capitalize}} plan selected</p>
                                        <md-toolbar class="md-tall" palette-background="green:500 ">
                                            <div flex="column ">
                                                <p class="center-block md-padding" style="padding-top:30px ">
                                                    <span class="md-display-36 text-center ">$ {{vm.selectedPlan.price_usd}}</span>
                                                </p>
                                                <p class="center-block ">
                                                    <span class="md-display-24 text-center ">{{vm.selectedPlan.plan_name|capitalize}}</span>
                                                </p>
                                            </div>
                                        </md-toolbar>
                                        <div style=" min-height: 170px; min-width: 190px; padding: 0px 45px; ">
                                            <div flex="100" layout="row" layout-align="start center" layout-padding="" class="center-block ">
                                                <span>{{vm.selectedPlan.num_projects}}</span>
                                                <span>Projects Allowed</span>
                                            </div>
                                            <div flex="100" layout="row" layout-align="start center" layout-padding="" class="center-block ">
                                                <span>{{vm.selectedPlan.num_spaces}}</span>
                                                <span>Spaces Allowed</span>
                                            </div>
                                            <div flex="100" layout="row" layout-align="start center" layout-padding="" class="center-block ">
                                                <span>{{vm.selectedPlan.num_members}}</span>
                                                <span>Members Allowed</span>
                                            </div>
                                        </div>
                                        <md-divider class=" padding-top-20 "></md-divider>
                                        <div class="md-padding" ng-if="vm.currentPlan.plan_name==='trial' ||vm.accountExpired===1 ">
                                            <form class="md-padding" action="{{ 'http://54.214.114.133/api/v1/user/subscription?api_token='+vm.token+ '&org_id='+vm.orgId|trusted}}" method="POST">
                                                <input type="hidden" id="plan" name="plan_id" value="{{vm.selectedPlan.id}} ">
                                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_ipI2IcwYbdYDTALTVJ5Th2v6" data-amount="{{vm.selectedPlan.price_cents}}" data-name="SentioVR" data-description="Widget" data-image="assets/images/logo.png" data-name data-locale="auto" data-zip-code="true ">
                                                </script>
                                            </form>
                                        </div>
                                        <div class="md-padding"  ng-if="vm.currentPlan.plan_name!=='trial' &&vm.accountExpired!==1 "> 
                                            <md-button class="md-primary md-raised" ng-click="vm.changePlan(vm.selectedPlan) ">{{vm.btnName}} Plan</md-button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </md-content>

                         <md-content class="md-padding" ng-if="!vm.paymentAllowed">
                           <md-card>
                                      <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline ">Account Unverified</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <p>A verification email has been sent to your registered email on signing up.Please click on the link in the email to verify your account and continue.To resend the email, please click the resend button below.</p>
                            </md-card-content>

                            <md-divider></md-divider>

                            <md-card-actions layout="row" layout-align="end center ">
                                 
                                <md-button class="md-primary" ng-click="vm.resendEmail()">Resend Verification Link</md-button>
                            </md-card-actions>
                        </md-card>
                         </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab id="confirm" ng-if="vm.id===0" ng-disabled="vm.uploadIncomplete ">
                    <md-tab-label>
                        <span class="oxy-step-label ">3</span>
                        <span translate>Finish</span>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding ">
                            <div class="padding-40" flex layout="column" layout-align="center center ">
                                <md-icon class="big-icon" md-font-icon="zmdi zmdi-check "></md-icon>
                                <h2 class="md-title" translate>Thankyou for the payment.You've subscribed to Plan A succesfully! </h2>
                            </div>
                        </md-content>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
           
    </div>
    </md-card>
</div>
