<ui-view>
    <div class="md-padding">
        <!-- <h2 class="md-subhead">Created By You</h2> -->
        <div class="md-padding" layout-align="space-around" layout-gt-sm="row" layout-wrap layout-sm="column">
            <div flex="45" flex-xs="100"  class="md-margin-5p" ng-repeat="(key, value) in vm.spaceList">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{value.name}}</span>
                            <span class="md-subhead">{{value.desc}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout="row" layout-align="space-between">
                        <div class="md-media-xl card-media">
                        <a  ng-href='http://{{value.url}}'>
                            <img ng-src="http://{{value.thumbnail}}" alt="{{value.name}}">
                            </a>
                        </div>
                        <md-card-actions layout="column">
                           
                           
                        <md-button ng-click="vm.navigateToDetail(value.id)">Edit Space details</md-button>
                            <md-button ng-click="vm.addSpaceToGallery(value.id)">Add to Gallery</md-button>
                            <md-button ng-click="vm.removeSpacefromGallery(value.id)">Remove From Gallery</md-button>
                            <md-button ng-href='http://{{value.url}}'>Open space Editor Mode</md-button>
                            <md-button class="md-primary md-raised  " ngf-select="vm.uploadForLinking(value.id,$file)" ng-disabled="vm.status != 'idle'" ngf-multiple="true" aria-label="upload">
                                            <md-icon md-font-icon ng-class="{ 'zmdi zmdi-cloud-upload': vm.status == 'idle', 'fa fa-spinner fa-pulse': vm.status == 'uploading', 'zmdi zmdi-check': vm.status == 'complete'}"></md-icon>
                                        upload and link space
                                        </md-button>
                             <md-button ng-click="vm.deleteSpace(value.id)">Delete</md-button>
                        </md-card-actions>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
    </div>
    <!-- left sidebar -->
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="members-list-right-menu">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Members</h1>
        </md-toolbar>
        <md-content class="md-padding">
            <div layout="row" layout-padding layout-align="space-around start" ng-include="'app/members/members-list.tmpl.html'"></div>
        </md-content>
    </md-sidenav>
    <md-button class="md-fab fab-add-fixed " ng-click="vm.navigateToDetail(0)" aria-label="fab button">
        <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
    </md-button>
</ui-view>
