<div class="full-image-background mb-bg-01 padding-20 padding-top-100 overlay-gradient-30" layout="row" layout-align="center start">
    <div class="margin-right-20">
        <img ng-src="http://{{vm.user.image}}" alt="Profile Photo" class="make-round" width="100" />
    </div>
    <div class="text-light">
        <h3 class="font-weight-600 margin-bottom-0 text-light">{{user.name}}</h3>
    </div>
</div>
<div layout="row" class="profile" layout-wrap>
    <div flex="100" flex-gt-md="100">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Profile">
                <md-content class="md-padding">
                    <form name="profile">
                        <md-input-container class="md-block">
                            <label for="name" translate>name</label>
                            <input id="name" label="name" name="name" type="text" ng-model="vm.user.name" required/>
                            <div ng-messages="profile.name.$error" md-auto-hide="false" ng-show="profile.name.$touched">
                                <div ng-message when="required"><span translate>Please enter your name</span></div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label for="email" translate>email</label>
                            <input id="email" label="email" name="email" type="email" ng-model="vm.user.email" required/>
                            <div ng-messages="profile.email.$error" md-auto-hide="false" ng-show="profile.email.$touched">
                                <div ng-message when="required">
                                    <span translate>Please enter your email address</span>
                                </div>
                                <div ng-message when="email">
                                    <span translate>Please enter a valid email address</span>
                                </div>
                            </div>
                        </md-input-container>
                        <md-button class="md-primary md-raised  " ngf-select="vm.uploadProfilePic(value.id,$file)" ng-disabled="vm.status != 'idle'" aria-label="upload">
                            <md-icon md-font-icon ng-class="{ 'zmdi zmdi-cloud-upload': vm.status == 'idle', 'fa fa-spinner fa-pulse': vm.status == 'uploading', 'zmdi zmdi-check': vm.status == 'complete'}"></md-icon>
                            Upload Profile Pic
                        </md-button>
                        <md-button class="md-raised md-primary margin-left-0" ng-click="vm.resendResetPasswordLink()" translate="Reset Password"></md-button>
                    </form>
                </md-content>
            </md-tab>
             
        </md-tabs>
    </div>
</div>


<!-- 
 <div>
    <form action="http://52.43.239.79/api/v1/user/subscription" method="POST">
      <input type="hidden" id="plan" name="planId"  value="3">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_gsuHQW9VUvUaSMEqw0voUH64" data-amount="2000" data-name="Stripe.com" data-description="Widget" data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto" data-zip-code="true">
        </script>
    </form>
</div>
 -->