$sidenav-mobile-width: 260px;
$sidenav-desktop-width: 300px;
// import angular material scss
@import "angular-material/angular-material.scss";
body {
    color: #212121;
}

// set template font family
button,
select,
html,
textarea,
input {
    font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

// import app scss
@import "scss/material-backgrounds";
// Add your CSS here
.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: rgba(158, 158, 158, 0.2);
}

.md-margin-5p {
    margin: 7.5px !important;
    margin-bottom: 15px !important;
}

.login-frame img {
    width: 100% !important;
}

.md-margin {
    margin: 5px !important;
}

.fab-add-fixed {
    position: fixed;
    bottom: 35px;
    right: 23px;
}

.align-center {
    text-align: center;
}

.triangular-loader {
    z-index: 101 !important;
}

.select-box {
    width: 35px;
}

md-grid-tile-footer {
    background: rgba(0, 188, 212, 0.59) !important;
}

.no-left-padding {
    padding-left: 0px !important;
}

.no-underline {
    text-decoration: none !important;
}

.flex-basis {
    flex-basis: 33% !important;
}

md-dialog {
    min-width: 500px !important;
}

md-toolbar.space-toolbar {
    min-height: 50px;
    .md-toolbar-tools {
        height: 50px;
    }
}

.md-contact-suggestion .md-contact-name {}


/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
