<div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-if="!vm.hideMenuButton()" ng-click="vm.openSideNav('left')" aria-label="side navigation">
        <md-icon md-font-icon="zmdi zmdi-menu"></md-icon>
    </md-button>
    <h2 hide-xs flex>
        <span n >
    <a  >
            <span translate>Projects</span>
           
        </a>
        </span>
    </h2>
    <md-button class="md-icon-button toolbar-button" ng-click="vm.toggleFullScreen()" aria-label="toggle fullscreen">
        <md-icon md-font-icon ng-class="vm.fullScreenIcon"></md-icon>
    </md-button>
    <md-button ng-click="vm.logOut()" aria-label="side navigation">
        <md-icon md-font-icon="zmdi zmdi-sign-in"></md-icon>
        <span translate="Logout"></span>
    </md-button>
    <md-button href="/profile" aria-label="side navigation">
        <img class="toolbar-user-avatar" ng-src="http://{{vm.currentUser.avatar}}"> {{vm.currentUser.displayName}}
    </md-button>
</div>
