<md-list flex="100"   >
    <md-subheader class="md-no-sticky md-headline align-left">Current Members</md-subheader>
    <md-list-item ng-repeat="item in ::vm.members" class="md-padding">
        <img class="toolbar-user-avatar md-padding" src="assets/images/avatars/avatar-5.png">

        <p flex="30">{{::item.name}}</p>
        <p flex="30">{{::item.email}}</p>
        <div flex="40" layout="row" layout-align="center center"> <md-button  permission permission-only="'admin'" class="md-icon-button" ng-click="vm.removeMember(item.id)">
            <md-icon md-font-icon class="zmdi zmdi-delete "></md-icon>
        </md-button></div>
       
        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
    <md-divider></md-divider>
     <md-subheader class="margin-top-20 md-no-sticky md-headline align-left">Invited Members <small>(  not accepted yet )</small></md-subheader>
    <md-list-item ng-repeat="item in ::vm.invited" class="md-padding">
        <img class="toolbar-user-avatar md-padding" src="assets/images/avatars/avatar-5.png">
        <p flex="30">{{::item}}</p>
        
       
        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
</md-list>
